/* AddTaskPage.css */

.add-task-page {
  margin: 0 auto;
  padding: 20px;
  background-color: #1c1d20;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80vh;
  font-family: Arial, sans-serif;
}

.add-task-page form {
  display: flex;
  flex-direction: column;
}

.add-task-page label {
  margin-bottom: 10px;
}

.add-task-page .input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #525252;
  border-radius: 30px;
  font-size: 16px;
  background-color: #484747;
  color: #fff;
  text-align: center;
  font-family: inherit;
}
.add-task-page .input-field:focus {
  outline: 2px solid #22c55e;
}

.add-task-page .input-field::placeholder {
  color: #ccc;
  text-align: center;
  font-family: inherit;
}

.add-task-page textarea {
  font-size: 16px;
  resize: vertical;
  min-height: 100px;
  height: 30vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #484747;
  color: #fff;
  text-align: center;
  font-family: inherit;
}

.add-task-page textarea::placeholder {
  color: #ccc;
  text-align: center;
  font-family: inherit;
}

.add-task-page button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  padding: 10px 20px;
  background-color: #22c55e;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  font-family: inherit;
}
/* 
@media screen and (max-height: 200px) {
  footer {
    display: none;
  }
} */
