.main-content {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.header {
  background: #1c1d20;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.search-container {
  display: flex;
  margin-top: 0;
  margin-left: 0;
}

#search {
  width: 30vh;
  height: 5vh;
}

.content {
  flex: 1;
  background-color: #525252;
  border-radius: 17px;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

#back {
  padding: 20px;
  color: #fff;
}

.task-tile {
  margin-top: 10px;
  border: 1px solid rgba(115, 115, 115, 0.31);
  border-radius: 17px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #737373; /* Цвет фона для задач */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для блока */
  transition: transform 0.2s ease-in-out; /* Анимация при наведении */
}

.task-tile:hover {
  transform: translateY(-5px); /* Эффект при наведении */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
